<!DOCTYPE html>
<html>
    <head>
        <title>Djangogirl Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Djangogirl Blog</a></h1>
        </header>

        <article>
            <time> published : 06-08-2021, 16.11</time>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis enim animi a porro earum quam delectus nostrum pariatur qui omnis, voluptas cupiditate saepe, expedita, nobis rerum provident itaque iste fugiat?</p>
        </article>

        <article>
            <time>published : 06-08-2021, 16.11</time>
            <h2><a href="">My second post</a></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit recusandae, aperiam sed alias perspiciatis voluptatem praesentium ullam similique odio amet voluptatum ab est possimus molestias quam velit vel sint repellat!</p>
        </article>
    </body>
</html>